@CHARSET "UTF-8";
/*allGoodsDisplay.jsp的css文件*/
.goodscategorys {
	width: 1366px;
	height: 100px;
	background: #FBFBFB;
	position: relative;
	margin-top: 25px;
}

.resultgoodstemplate {
	position: relative;
	padding: 1px;
	margin: 5px;
	background: white;
	width: 218px;
	height: 260px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.resultgoodspic {
	
}